
<h1>Tarefa Quarentena #1</h1>
<hr>
<br>
<h2>
    <label for="inserir">Cadastrar Novo Registro: </label><br>
    <a class="b" href="inserir">Inserir</a><br>
    <br>
    <label  for="select">Listar/Alterar/Excluir Registros: </label><br>
    <a class="b" href="select">Select</a><br>
</h2>